<div>
    <div class="flex justify-between items-center mb-4">
        <div>
            <button (click)="showFunctionModal()"
                class="px-4 py-2 text-white bg-customBlue hover:bg-customDarkgrey rounded mr-2">
                Create Movie Function
            </button>

            <button (click)="showMovieModal()"
                class="px-4 py-2 text-white bg-customBlue hover:bg-customDarkgrey rounded">
                Create Movie
            </button>
        </div>
        <div class=" mx-auto w-full max-w-md">
            <form class="max-w-md mx-auto">
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="text" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}"
                        (input)="onSearch()"
                        class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                        placeholder="Search user by name..." />

                </div>
            </form>
        </div>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-white uppercase bg-customBlue dark:bg-customDarkgrey">
                <tr>
                    <th scope="col" class="px-6 py-3">ID</th>
                    <th scope="col" class="px-6 py-3">Title</th>
                    <th scope="col" class="px-6 py-3">Synopsis</th>
                    <th scope="col" class="px-6 py-3">Rating</th>
                    <th scope="col" class="px-6 py-3">Genre</th>
                    <th scope="col" class="px-6 py-3">Image URL</th>
                    <th scope="col" class="px-6 py-3">Available</th>
                    <th scope="col" class="px-6 py-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movie of filteredMovies()"
                    class="odd:bg-customGrey even:bg-white border-b dark:border-gray-700">
                    <td class="px-6 py-4">{{ movie.id }}</td>
                    <td class="px-6 py-4">{{ movie.title }}</td>
                    <td class="px-6 py-4">{{ movie.synopsis }}</td>
                    <td class="px-6 py-4">{{ movie.rating }}</td>
                    <td class="px-6 py-4">{{ movie.genre }}</td>
                    <td class="px-6 py-4">{{ movie.image_url }}</td>
                    <td class="px-6 py-4">
                        <span class="px-2 py-1 rounded-full text-xs font-semibold cursor-pointer" [ngClass]="{
                                'bg-green-300 text-customBlue': movie.available,
                                'bg-customRed text-white': !movie.available
                            }" (click)="toggleAvailability(movie)">
                            {{ movie.available ? 'Yes' : 'No' }}
                        </span>
                    </td>
                    <td class="px-6 py-4">
                        <button class="px-4 py-2 text-white bg-customBlue hover:bg-customDarkgrey rounded"
                            (click)="showEditMovieModal(movie)">
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="showModal()" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
        <div class="bg-white p-6 rounded shadow-lg">
            <h2 class="text-lg font-bold mb-4">Confirm Change</h2>
            <p>Are you sure you want to change availability for {{ selectedMovie()?.title }}?</p>
            <div class="mt-4 flex justify-end">
                <button class="px-4 py-2 mr-2 text-white bg-red-500 hover:bg-red-700 rounded"
                    (click)="closeModal()">Cancel</button>
                <button class="px-4 py-2 text-white bg-green-500 hover:bg-green-700 rounded"
                    (click)="confirmChangeAvailability()">Confirm</button>
            </div>
        </div>


    </div>

    <div *ngIf="showCreateMovieFunctionModal()"
        class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
        <div class="bg-white p-6 rounded shadow-lg">
            <h2 class="text-lg font-bold mb-4">Create Movie Function</h2>
            <form (ngSubmit)="confirmCreateMovieFunction()">
                <div class="p-6 bg-white rounded-lg shadow-md space-y-4">
                    <div class="flex gap-3">
                        <label for="movie_id">Movie</label>
                        <select
                            class="w-32 flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500"
                            type="number" id="movie_id" [(ngModel)]="newMovieFunction.movie_id" name="movie_id"
                            required>
                            <option *ngFor="let movie of availableMovies" [value]="movie.id">
                                {{ movie.title }}
                            </option>
                        </select>
                    </div>
                    <!-- Date -->
                    <div class="flex items-center gap-4">
                        <label for="date_function" class="w-32 font-medium text-gray-700">Date</label>
                        <input id="date_function" type="date" name="date_function"
                            [(ngModel)]="newMovieFunction.date_function" required
                            class="flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500" />
                    </div>

                    <!-- Time -->
                    <div class="flex items-center gap-4">
                        <label for="time_function" class="w-32 font-medium text-gray-700">Time</label>
                        <input id="time_function" type="time" name="time_function"
                            [(ngModel)]="newMovieFunction.time_function" required
                            class="flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500" />
                    </div>

                    <!-- Room Number -->
                    <div class="flex items-center gap-4">
                        <label for="room_number" class="w-32 font-medium text-gray-700">Room Number</label>
                        <input id="room_number" type="number" name="room_number"
                            [(ngModel)]="newMovieFunction.room_number" required
                            class="flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500" />
                    </div>

                    <!-- Available Seats -->
                    <div class="flex items-center gap-4">
                        <label for="available_seats" class="w-32 font-medium text-gray-700">Available Seats</label>
                        <input id="available_seats" type="text" name="available_seats" [(ngModel)]="availableSeatsInput"
                            placeholder="e.g., A1,A2,A3" required
                            class="flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500" />
                    </div>
                    <div class="mt-4 flex justify-end">
                        <button type="button" class="px-4 py-2 mr-2 text-white bg-red-500 hover:bg-red-700 rounded"
                            (click)="closeCreateFunctionModal()">Cancel</button>
                        <button type="submit"
                            class="px-4 py-2 text-white bg-green-500 hover:bg-green-700 rounded">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="showCreateMovieModal()"
        class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
        <div class="bg-white p-6 rounded shadow-lg">
            <h2 class="text-lg font-bold mb-4">Add New Movie</h2>
            <form (ngSubmit)="confirmCreateMovie()">
                <div class="space-y-4 p-6 bg-white rounded-lg shadow-md">
                    <!-- Title -->
                    <div class="flex items-center gap-4">
                        <label for="title" class="w-32 font-medium text-gray-700">Title</label>
                        <input id="title" type="text" name="title" [(ngModel)]="newMovie.title" required
                            class="flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500" />
                    </div>

                    <!-- Synopsis -->
                    <div class="flex items-center gap-4">
                        <label for="synopsis" class="w-32 font-medium text-gray-700">Synopsis</label>
                        <textarea id="synopsis" name="synopsis" [(ngModel)]="newMovie.synopsis" required
                            class="flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500"></textarea>
                    </div>

                    <!-- Rating -->
                    <div class="flex items-center gap-4">
                        <label for="rating" class="w-32 font-medium text-gray-700">Rating</label>
                        <input id="rating" type="text" name="rating" [(ngModel)]="newMovie.rating" required
                            class="flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500" />
                    </div>

                    <!-- Image URL -->
                    <div class="flex items-center gap-4">
                        <label for="image_url" class="w-32 font-medium text-gray-700">Image URL</label>
                        <input id="image_url" type="url" name="image_url" [(ngModel)]="newMovie.image_url" required
                            class="flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500" />
                    </div>

                    <!-- Genre -->
                    <div class="flex items-center gap-4">
                        <label for="genre" class="w-32 font-medium text-gray-700">Genre</label>
                        <input id="genre" type="text" name="genre" [(ngModel)]="newMovie.genre" required
                            class="flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500" />
                    </div>
                </div>

                <!-- Buttons -->
                <div class="mt-4 flex justify-end">
                    <button type="button" class="px-4 py-2 mr-2 text-white bg-red-500 hover:bg-red-700 rounded"
                        (click)="closeCreateMovieModal()">
                        Cancel
                    </button>
                    <button type="submit" class="px-4 py-2 text-white bg-green-500 hover:bg-green-700 rounded">
                        Add Movie
                    </button>
                </div>
            </form>
        </div>
    </div>


    <div *ngIf="showEditMovieModalSignal() && selectedMovie() !== null"
        class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
        <div class="bg-white p-6 rounded shadow-lg">
            <h2 class="text-lg font-bold mb-4">Edit Movie</h2>
            <form (ngSubmit)="confirmEditMovie()">
                <div class="space-y-4 p-6 bg-white rounded-lg shadow-md">
                    <!-- Title -->
                    <div class="flex items-center gap-4">
                        <label for="title" class="w-32 font-medium text-gray-700">Title</label>
                        <input id="title" type="text" name="title" [(ngModel)]="selectedMovie()!.title" required
                            class="flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500" />
                    </div>

                    <!-- Synopsis -->
                    <div class="flex items-center gap-4">
                        <label for="synopsis" class="w-32 font-medium text-gray-700">Synopsis</label>
                        <textarea id="synopsis" name="synopsis" [(ngModel)]="selectedMovie()!.synopsis" required
                            class="flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500 h-32"></textarea>
                    </div>

                    <!-- Rating -->
                    <div class="flex items-center gap-4">
                        <label for="rating" class="w-32 font-medium text-gray-700">Rating</label>
                        <input id="rating" type="text" name="rating" [(ngModel)]="selectedMovie()!.rating" required
                            class="flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500" />
                    </div>

                    <!-- Genre -->
                    <div class="flex items-center gap-4">
                        <label for="genre" class="w-32 font-medium text-gray-700">Genre</label>
                        <input id="genre" type="text" name="genre" [(ngModel)]="selectedMovie()!.genre" required
                            class="flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500" />
                    </div>

                    <!-- Image URL -->
                    <div class="flex items-center gap-4">
                        <label for="image_url" class="w-32 font-medium text-gray-700">Image URL</label>
                        <input id="image_url" type="url" name="image_url" [(ngModel)]="selectedMovie()!.image_url"
                            required
                            class="flex-1 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500" />
                    </div>
                </div>

                <!-- Buttons -->
                <div class="mt-4 flex justify-end">
                    <button type="button" class="px-4 py-2 mr-2 text-white bg-red-500 hover:bg-red-700 rounded"
                        (click)="closeEditMovieModal()">
                        Cancel
                    </button>
                    <button type="submit" class="px-4 py-2 text-white bg-green-500 hover:bg-green-700 rounded">
                        Save Changes
                    </button>
                </div>
            </form>
        </div>
    </div>




</div>