<div>
    <div class="flex justify-between items-center mb-4">
        <div>
            <button (click)="showFunctionModal()"
                class="px-4 py-2 text-white bg-customBlue hover:bg-customDarkgrey rounded mr-2">
                Create Movie Function
            </button>

            <button class="px-4 py-2 text-white bg-customBlue hover:bg-customDarkgrey rounded">
                Create Movie
            </button>
        </div>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-white uppercase bg-customBlue dark:bg-customDarkgrey">
                <tr>
                    <th scope="col" class="px-6 py-3">ID</th>
                    <th scope="col" class="px-6 py-3">Title</th>
                    <th scope="col" class="px-6 py-3">Synopsis</th>
                    <th scope="col" class="px-6 py-3">Rating</th>
                    <th scope="col" class="px-6 py-3">Genre</th>
                    <th scope="col" class="px-6 py-3">Image URL</th>
                    <th scope="col" class="px-6 py-3">Available</th>
                    <th scope="col" class="px-6 py-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movie of movies()"
                    class="odd:bg-customGrey even:bg-white border-b dark:border-gray-700">
                    <td class="px-6 py-4">{{ movie.id }}</td>
                    <td class="px-6 py-4">{{ movie.title }}</td>
                    <td class="px-6 py-4">{{ movie.synopsis }}</td>
                    <td class="px-6 py-4">{{ movie.rating }}</td>
                    <td class="px-6 py-4">{{ movie.genre }}</td>
                    <td class="px-6 py-4">{{ movie.image_url }}</td>
                    <td class="px-6 py-4">
                        <span class="px-2 py-1 rounded-full text-xs font-semibold cursor-pointer" [ngClass]="{
                                'bg-green-300 text-customBlue': movie.available,
                                'bg-customRed text-white': !movie.available
                            }" (click)="toggleAvailability(movie)">
                            {{ movie.available ? 'Yes' : 'No' }}
                        </span>
                    </td>
                    <td class="px-6 py-4">
                        <button class="px-4 py-2 text-white bg-customBlue hover:bg-customDarkgrey rounded">
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="showModal()" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
        <div class="bg-white p-6 rounded shadow-lg">
            <h2 class="text-lg font-bold mb-4">Confirm Change</h2>
            <p>Are you sure you want to change availability for {{ selectedMovie()?.title }}?</p>
            <div class="mt-4 flex justify-end">
                <button class="px-4 py-2 mr-2 text-white bg-red-500 hover:bg-red-700 rounded"
                    (click)="closeModal()">Cancel</button>
                <button class="px-4 py-2 text-white bg-green-500 hover:bg-green-700 rounded"
                    (click)="confirmChangeAvailability()">Confirm</button>
            </div>
        </div>


    </div>

    <div *ngIf="showCreateMovieFunctionModal()"
        class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
        <div class="bg-white p-6 rounded shadow-lg">
            <h2 class="text-lg font-bold mb-4">Create Movie Function</h2>
            <form (ngSubmit)="confirmCreateMovieFunction()">
                <div>
                    <label for="movie_id">Movie ID</label>
                    <input type="number" id="movie_id" [(ngModel)]="newMovieFunction.movie_id" name="movie_id" required>
                </div>
                <div>
                    <label for="date_function">Date</label>
                    <input type="date" id="date_function" [(ngModel)]="newMovieFunction.date_function"
                        name="date_function" required>
                </div>
                <div>
                    <label for="time_function">Time</label>
                    <input type="time" id="time_function" [(ngModel)]="newMovieFunction.time_function"
                        name="time_function" required>
                </div>
                <div>
                    <label for="room_number">Room Number</label>
                    <input type="number" id="room_number" [(ngModel)]="newMovieFunction.room_number" name="room_number"
                        required>
                </div>
                <div>
                    <label for="available_seats">Available Seats</label>
                    <input type="text" id="available_seats" [(ngModel)]="availableSeatsInput" name="available_seats"
                        placeholder="e.g., A1,A2,A3" required>
                </div>
                <div class="mt-4 flex justify-end">
                    <button type="button" class="px-4 py-2 mr-2 text-white bg-red-500 hover:bg-red-700 rounded"
                        (click)="closeCreateFunctionModal()">Cancel</button>
                    <button type="submit"
                        class="px-4 py-2 text-white bg-green-500 hover:bg-green-700 rounded">Create</button>
                </div>
            </form>
        </div>

    </div>