<div class="w-full bg-customBlue">
  <div class="max-w-screen-xl flex items-center justify-between mx-auto py-4 px-4">
    <div class="flex items-center space-x-2">
      <a [routerLink]="['']">
        <img src="images/logo.png" alt="Cinema Logo" class="w-40 h-35">
      </a>
    </div>

    <div class="flex items-center space-x-4">
      <ng-container *ngIf="!userExists(); else userInfo">
        <button (click)="setLogin()" class="text-white text-lg font-medium hover:underline transition">
          Login
        </button>
        <button (click)="setRegister()" class="text-white text-lg font-medium hover:underline transition">
          Register
        </button>
      </ng-container>

      <ng-template #userInfo>
        <span class="text-white text-lg">Hola, {{ currentUserValue()?.first_name || 'Usuario' }}</span>
        <button (click)="logout()" class="text-white text-lg font-medium hover:underline transition">
          Logout
        </button>
      </ng-template>
    </div>
  </div>

  
  @if(showLogin) {
    <div class="fixed inset-0 pt-20 flex items-center justify-center z-50">
        <div class="w-96 bg-transparent p-6">
            <app-login />
        </div>
    </div>
    }

    @if(showRegister) {
    <div class="fixed inset-0 pt-20 flex items-center justify-center z-50">
        <div class="w-96 bg-transparent p-6">
            <app-register />
        </div>
    </div>
    }
</div>
